/**
	*
	* .rwdTable : 基本 table 樣式
	* .breakTable : 破壞 Table 排版樣式
	* http://lab.25sprout.com/responsive_table/
	* 
	*/

$c-rwdTable-textColor: #333;
$c-rwdTable-borderColor: #333;
$c-rwdTable-bgColor: #ffffff;

/*=============================================
=            .c-rwdTable            =
=============================================*/

.c-rwdTable {
  width: 99.9%;
  background-color: $c-rwdTable-bgColor;
  border-collapse: collapse;
  
  & .c-rwdTableTd, & .c-rwdTableTh {
    @include media-breakpoint-down(lg) {
      padding: 5px 0px;
    }
    @include media-breakpoint-up(md) {
      padding: 10px 15px;
    }
  }
  .c-rwdTableTh {
    // background-color: $c-rwdTable-bgColor;
    border: $c-rwdTable-borderColor 1px solid;
    @include media-breakpoint-up(md) {
      white-space: nowrap;
    }
  }
  // & .c-rwdTableTbody {
  // }
  .c-rwdTableTd {
    border: 1px solid $c-rwdTable-borderColor;
  }
  .c-rwdTableTr {
    @include media-breakpoint-down(lg) {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  &--break {
    @include media-breakpoint-down(sm) {
      // background-color: transparent !important;
      .c-rwdTableThead, 
      .c-rwdTableTbody, 
      .c-rwdTableTh, 
      .c-rwdTableTd, 
      .c-rwdTableTr { 
        display: block; 
      }

      .c-rwdTableThead {
        .c-rwdTableTr { 
          position: absolute;
          top: -9999px;
          left: -9999px;
        }
      }
      .c-rwdTableTbody{
        .c-rwdTableTr{
          border: 1px solid #ccc; 
        }
      }

      .c-rwdTableTr { 
        margin-bottom: 10px; 
        background-color: #ffffff;
      }

      .c-rwdTableTd { 
        border: none !important;
        position: relative;
        white-space: normal;
        text-align:left;
        display: flex;

        &:before { 
          min-width: 8rem;
          // display: inline-block;
          padding-right: 10px; 
          text-align: right;
          font-weight: bold;
          vertical-align: top;
          content: attr(data-title);
          color: $c-rwdTable-textColor;
        }
      }
    }

  }
  // /.--break 
}
/*=====  End of /.c-rwdTable  ======*/
  